<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Valery Juravlev
    body

        include blocks/navigation.pug

        +navigation('Портфолио', 'О себе', 'Навыки', 'Контакты')
        header.header
            .header__logo Dev
            .header__heading.heading
                .heading__name Валерий Журавлев
                .heading__profession Front-end developer
            .header__email
                p.header__text Почта: 
                a(href="mailto:valera030219972010@gmail.com") valera030219972010@gmail.com
