<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Valery Juravlev
    body

        include blocks/navigation.pug
        include blocks/works.pug
        include blocks/skills.pug

        +navigation('Портфолио', 'Навыки', 'Контакты')
        header.header
            .header__logo Dev
            .header__bg
                .header__img
                .header__main
            .header__heading.heading
                h1.heading__name Валерий Журавлев
                h2.heading__profession Front-end developer
            .header__email
                span.header__text Почта: 
                a(href="mailto:valera030219972010@gmail.com" class="header__value") valera030219972010@gmail.com
        main.main
            section.works
                .works__wrapper
                    h1.works__title Портфолио
                    +works(["#", "giant"],
                           ["#", "local-business"],
                           ["#", "wordoutlet"],
                           ["#", "gllacy"],
                           ["#", "toxin"])
            section.skills
                .skills__wrapper
                    .skills__title Мои навыки
                    +skills(["95", "red", "html"],
                            ["80", "blue", "css"],
                            ["70", "green", "js"],
                            ["70", "green", "js"],
                            ["70", "green", "js"],
                            ["70", "green", "js"])