// Font
$mainFont                : 'Montserrat', Arial, sans-serif;
$secondFont              :'Quicksand', Arial, sans-serif;
$thirdFont               :'Open-sans', Arial, sans-serif;

// Size
$mainFontColor           : #1F2041;
$mainFontSize            : 14px;
$mainFontWeight          : 400;

$max-width               : 1920px;
$min-width               : 320px;

$desktopWidth            : 1280px;
$midDesktopWidth         : 1070px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Color
$darkShade100            :$mainFontColor ;
$darkShade75             :change-color($mainFontColor, $alpha: 0.75);
$darkShade50             :change-color($mainFontColor, $alpha: 0.5);
$darkShade25             :change-color($mainFontColor, $alpha: 0.25);
$darkShade10             :change-color($mainFontColor, $alpha: 0.10);
$darkShade5              :change-color($mainFontColor, $alpha: 0.05);
$purple                  :#bc9cff;
$green                   :#6fcf97;

$purpleLinearGradient    :linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$purpleLinearGradient50  :linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%,rgba(139, 164, 249, 0.5) 100%);
$purpleLinearGradient25  :linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0,rgba(139, 164, 249, 0.25) 100%);
$greenLinearGradient     :linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$yellowLinearGradient    :linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
$blackLinearGradient     :linear-gradient(180deg, #909090 0%, #3D4975 100%);