mixin skills(...opt)
    .skills&attributes(attributes)
        ul.skills__list
            each item in opt
                li.skills__item(class=`skills__item_${item[2]}`)
                    h3.skills__title= item[0]
                    p.skills__text= item[1]
            
            