mixin technology(...opt)
    .technology
        h2.technology__title My skills
        ul.technology__list
            each item in opt
                li.technology__item
                    span.technology__name= item[0]