mixin works(...opt)
    ul.works__list
        each item in opt
            li.works__item
                .works__wrap
                    img.works__img(src=`../../assets/img/${item[1]}.jpg`)
                    .works__description(data-name=`${item[1]}`)
                        a.works__link(href=item[0] target="_blank")= item[1]
                        button.works__button(href=item[1]) description