.nav {
    position: absolute;
    background: #fff;
    height: 100vh;
    width: 40px;
    &__list {
        position: fixed;
        top: 50%;
        transform: translate(-45%, 0) rotate(90deg);
        width: 400px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
}